@font-face {
    font-family: 'Jelle';
    src: url('./Jellee-Bold.woff2') format('woff2'),
    url('./Jellee-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.hello{
    color: orange;
    font-family: 'Jelle';
    background-image: url('./eye.svg');
}